{% extends "FunnyTripBundle::layout.html.twig" %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <div id="top" class="row">
        <div class="page-header col-md-12">
            <br>
            <h2>FunnyTrip </h2>
            <hr/>
            <p>Ce site a été réaliser dans le cadre de notre module IHM</p>
        </div>
    </div>



{% endblock %}

